@media (max-width: 767px){
   #fun-facts .card{
      width: 20rem;
      margin: 2rem auto;
   }
   #download .card{
      width: 29rem;
      margin: 2rem auto;
   }
   #work .card{
      width: 25rem;
      margin: 2rem auto;
   }
}