@media (max-width: 767px){
   #fun-facts .card{
      width: 20rem;
      margin: 2rem auto;
   }
   #download .card{
      width: 25rem;
      margin: 2rem auto;
   }
   #work .card{
      width: 25rem;
      margin: 2rem auto;
   }
   #pricing .card{
      width: 25rem;
      margin: 2rem auto;
   }
   #contact .width{
      width: 70%;
      margin: 0 auto;
   }
   #contact .row .row{
      margin-bottom: 3rem;
   }
   #footer ul{
      margin-bottom: 3rem;
   }
}