*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   font-size: 62.5%;
   scroll-behavior: smooth;
}
:root{
   --main-color: #7857fe;
   --box-shadow: 0 5px 15px rgba(0,0,0,0.3);
   --light-background: #f7f7f7;
}
/*-----------
Navbar start 
-----------*/
.navbar{
   background: var(--main-color) !important;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
}
.navbar i{
   color: #fff; 
   font-size: 3rem; 
}
.navbar .navbar-brand{
   font-size: 2.3rem;
   font-weight: bold;
}
.navbar a{
   color: #fff;
   font-size: 1.5rem;
}
.navbar .nav-link{
   position: relative;
   padding: 1.2rem 0;
}
.navbar .nav-link::after{
   content: '';
   height: 0.2rem;
   background: #fff;
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   transition: 1s;
   transform: scale(0);
}
.navbar .nav-link:hover::after{
   transform: scale(1);
}
/*-----------
Navbar-end
-----------*/


/*-----------
Home-start
-----------*/
#home{
   width: 100%;
   padding: 8rem 0;
   background: var(--main-color);
   border-radius: 0 0 15rem 0;
}
#home .bold-text h3{
   color: #fff;
   font-size: 2.7rem;
   font-weight: 600;
}
#home .light-text p{
   color: #fff;
   font-size: 1.4rem;
}
#home .home-img{
   position: relative;
}
#home .home-img .circle{
   width: 30rem;
   height: 30rem;
   border-radius: 50%;
   border: 0.1rem solid rgba(255,255,255,0.3);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 1;
}
#home .home-img .circle .animated-circle{
   width: 15rem;
   height: 0.4rem;
   background: transparent;
   position: absolute;
   left: 50%;
   top: calc(50% - 0.2rem);
   transform-origin: left;
   animation: round 4s linear infinite;
}
#home .home-img .circle .animated-circle::before{
   content: '';
   width: 4rem;
   height: 4rem;
   background: rgba(255,255,255,0.6);
   border-radius: 50%;
   position: absolute;
   left: calc(100% - 2rem);
   top: -1.9rem;
}
#home .home-img img{
   width: 80%;
   animation: up-down 2s linear infinite;
}
@keyframes round{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}
@keyframes up-down{
   0%{
      transform: translateY(2rem);
   }
   50%{
      transform: translateY(0);
   }
   100%{
      transform: translateY(2rem);
   }
}
/*-----------
Home-end
-----------*/