@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
*{
   margin     : 0;
   padding    : 0;
   box-sizing : border-box;
   font-family: 'Ubuntu', sans-serif;
}
html{
   font-size      : 62.5%;
   scroll-behavior: smooth;
}
:root{
   --main-color1     : #7857fe;
   --main-color2     : #f7f7f7;
   --box-shadow1     : 0 5px 15px rgba(0,0,0,0.3);
   --light-background: #f7f7f7;
   --box-shadow2     : 0px 10px 30px rgba(57, 56, 61, 0.205);
   --bg-1            : #e91e63;
   --bg-2            : #eba834;
   --bg-3            : #09d69c;
}


/*-----------------
common design start
-----------------*/
.section-padding{
   padding: 8rem 0;
}
.h3{
   font-size  : 3rem;
   font-weight: bold;
}
.span{
   color: var(--main-color1);
}
.card-h3{
   font-size  : 1.8rem;
   font-weight: 600;
}
.margin-bottom{
   margin-bottom: 4rem;
}
.card.hover-effect-1,
.card.hover-effect-2{
   position: relative;
   overflow: hidden;
}
.card.hover-effect-1::before,
.card.hover-effect-1::after{
   content   : '';
   width     : 40%;
   height    : 0.5rem;
   background: var(--main-color1);
   position  : absolute;
   transition: 0.4s;
}
.card.hover-effect-1::before{
   top      : -2rem;
   left     : 50%;
   transform: translateX(-50%);
}
.card.hover-effect-1::after{
   width : 100%;
   bottom: -2rem;
   left  : 0;
}
.card.hover-effect-1:hover::before{
   top: 0;
}
.card.hover-effect-1:hover::after{
   bottom: 0;
}
.card.hover-effect-2:before,
.card.hover-effect-2:after{
   content   : '';
   height    : 6rem;
   width     : 6rem;
   position  : absolute;
   transition: 0.3s;
}
.card.hover-effect-2:before{
   border-top : 0.8rem solid var(--bg-1);
   border-left: 0.8rem solid var(--bg-1);
   top        : -1rem;
   left       : -1rem;
}
.card.hover-effect-2:after{
   border-bottom: 0.8rem solid var(--bg-1);
   border-right : 0.8rem solid var(--bg-1);
   bottom       : -1rem;
   right        : -1rem;
}
.card.hover-effect-2:hover::after{
   right : 0;
   bottom: 0;
}
.card.hover-effect-2:hover::before{
   top : 0;
   left: 0;
}
/*---------------
common design end
---------------*/


/*----------
ripple start
----------*/
.prepare-ripple {
  overflow: hidden;
  position: relative;
}
.ripple {
  background   : rgba(255, 255, 255, .5);
  border-radius: 100%;
  display      : block; 
  position     : absolute;
  transform    : scale(0);
}
.ripple.on-animate {
  animation: ripple 0.65s linear;
}
/*----------
ripple end
----------*/


/*--------------
animations start
--------------*/
@keyframes ripple {
  100% {
    opacity: 0; 
    transform: scale(2.5);
  }
}
@keyframes round{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}
@keyframes up-down{
   0%{
      transform: translateY(2.3rem);
   }
   50%{
      transform: translateY(0);
   }
   100%{
      transform: translateY(2.3rem);
   }
}
@keyframes pulse{
   0%{
      transform : scale(0.94);
      box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
   }
   70%{
      transform : scale(1);
      box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
   }
   100%{
      transform : scale(0.94);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
/*------------
animations end
------------*/


/*-----------
Navbar start 
-----------*/
.navbar{
   background    : var(--main-color1) !important;
   padding-top   : 2rem;
   padding-bottom: 2rem;
   box-shadow    : var(--box-shadow1);
}
.navbar i{
   color    : #fff; 
   font-size: 3rem; 
}
.navbar .navbar-brand{
   font-size  : 2.3rem;
   font-weight: bold;
}
.navbar a{
   color    : #fff;
   font-size: 1.5rem;
}
.navbar .nav-link{
   position: relative;
   padding : 1rem 0 1rem 1rem;
}
.navbar .nav-link::after{
   content   : '';
   height    : 0.2rem;
   background: #fff;
   position  : absolute;
   left      : 0;
   bottom    : 0;
   right     : 0;
   transition: 0.5s;
   transform : scale(0);
}
.navbar .nav-link:hover::after{
   transform: scale(1);
}
/*navbar-animation*/
.navbar-toggler.x{
   border: none;
}
.navbar-toggler.x:focus{
   outline: none;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1){
  -webkit-transform       : rotate(45deg);
  -ms-transform           : rotate(45deg);
  transform               : rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin    : 10% 10%;
  transform-origin        : 10% 10%;  
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2){
   opacity: 0;
   filter : alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3){
  -webkit-transform       : rotate(-45deg);
  -ms-transform           : rotate(-45deg);
  transform               : rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin    : 10% 90%;
  transform-origin        : 10% 90%;
}
.icon-bar{
   width             : 22px;
   display           : block;
   height            : 2px;
   background-color  : #fff;
   -webkit-transition: all 0.2s;
   transition        : all 0.2s;
}
.icon-bar+ .icon-bar{
   margin-top: 4px;
}
.icon-bar:nth-of-type(1){
  -webkit-transform: rotate(0);
  -ms-transform    : rotate(0);
  transform        : rotate(0);
}
.icon-bar:nth-of-type(2){
   opacity: 1;
   filter : alpha(opacity=100);
}
.icon-bar:nth-of-type(3){
   -webkit-transform: rotate(0);
   -ms-transform    : rotate(0);
   transform        : rotate(0);
}
/*-----------
Navbar-end
-----------*/


/*-----------
Home-start
-----------*/
#home{
   width        : 100%;
   background   : var(--main-color1);
   border-radius: 0 0 15rem 0;
}
#home .container{
   position: relative;
}
#home .effect-box{
   width     : 100%;
   height    : 100%;
   z-index   : -1;
   background: red;
}
#home .effect1{
   position : absolute;
   color    : orange;
   font-size: 2rem;
   top      : 8%;
   left     : 35%;
   animation: round 2s infinite linear;
}
#home .effect2{
   position : absolute;
   color    : #f7f7f7;
   font-size: 2.5rem;
   top      : 25%;
   right    : 5%;
   animation: round 2.5s infinite linear;
}
#home .effect3{
   position : absolute;
   color    : orange;
   font-size: 2rem;
   bottom   : 7%;
   left     : 10%;
   animation: up-down 1.5s infinite linear;
}
#home .bold-text h3{
   color      : #fff;
   font-size  : 2.7rem;
   font-weight: 600;
}
#home .light-text p{
   color    : #fff;
   font-size: 1.4rem;
}
#home .button button{
   padding      : 1.8rem 1.3rem;
   outline      : none;
   border       : none;
   border-radius: 5rem;
   background   : #fff;
   box-shadow   : var(--box-shadow1);
   font-size    : 1.7rem;
   font-weight  : 500;
   transition   : 0.3s;
}
#home .button .d-inline button{
   padding      : 0;
   width        : 5.6rem;
   height       : 5.6rem;
   border-radius: 50%;
   text-align   : center;
   line-height  : 5.6rem;
   transition   : 0.3s;
   animation    : pulse 1s infinite linear;
}
#home .button .d-inline button:hover{
   animation: none;
}
#home button:hover{
   background: var(--main-color1);
   color     : #fff;
}
#home .img-box{
   position: relative;
}
#home .img-box .circle{
   width        : 30rem;
   height       : 30rem;
   border-radius: 50%;
   border       : 0.1rem solid rgba(255,255,255,0.3);
   position     : absolute;
   top          : 50%;
   left         : 50%;
   transform    : translate(-50%,-50%);
   z-index      : 1;
}
#home .img-box .circle .animated-circle{
   width           : 15rem;
   height          : 0.4rem;
   background      : transparent;
   position        : absolute;
   left            : 50%;
   top             : calc(50% - 0.2rem);
   transform-origin: left;
   animation       : round 4s linear infinite;
}
#home .img-box .circle .animated-circle::before{
   content      : '';
   width        : 4rem;
   height       : 4rem;
   background   : rgba(255,255,255,0.6);
   border-radius: 50%;
   position     : absolute;
   left         : calc(100% - 2rem);
   top          : -1.9rem;
}
#home .img-box img{
   width: 60%;
   animation: up-down 2s linear infinite;
}
/*-----------
Home-end
-----------*/


/*------------
Features start 
------------*/
#features .card{
   border    : none;
   width     : 20rem;
   box-shadow: var(--box-shadow2);
   margin    : 0 auto;
}
#features .card i{
   color     : var(--main-color1);
   font-size : 4.5rem;
   margin-top: 2rem;
}
/*-----------
Features end 
-----------*/


/*-------------
Fun facts start 
-------------*/
#fun-facts{
   background: var(--main-color2);
}
#fun-facts .text p{
   font-size: 1.5rem;
}
#fun-facts .img-box img{
   width    : 60%;
   animation: up-down 2s linear infinite;
}
#fun-facts .card{
   border       : none;
   box-shadow   : var(--box-shadow1);
   border-radius: 1rem;
}
#fun-facts .card .number{
   color      : #fff;
   font-size  : 3rem;
   font-weight: 500;
}
#fun-facts .card p{
   color    : #fff;
   font-size: 1.8rem;
}
#fun-facts .card.bg-1{
   background: var(--bg-1);
}
#fun-facts .card.bg-2{
   background: var(--bg-2);
}
#fun-facts .card.bg-3{
   background: var(--bg-3);
}
#fun-facts .card.bg-4{
   background: var(--main-color1);
}
/*-----------
Fun facts end
-----------*/


/*---------------
Screenshots start
---------------*/
#screenshots .item{
   width : 60%;
   margin: 0 auto;
}
/*-------------
Screenshots end 
-------------*/


/*------------
Download start
------------*/
#download{
   width            : 100%;
   background       : var(--main-color1);
   background-size  : cover;
   background-repeat: no-repeat;
}
#download h3{
   color: #fff;
}
#download h3 span{
   color: #000;
}
#download .card{
   border        : none;
   box-shadow    : var(--box-shadow1);
   padding-bottom: 2rem;
   position      : relative;
}
#download .row h3{
   color: #000;
}
#download .row i{
   margin-top: 2rem;
   color     : var(--main-color1);
   font-size : 4.5rem;
}
#download button {
   padding      : 1.8rem 1.3rem;
   outline      : none;
   border       : none;
   border-radius: 5rem;
   background   : var(--main-color1);
   box-shadow   : var(--box-shadow1);
   font-size    : 1.7rem;
   font-weight  : 500;
   color        : #fff;
   transition   : 0.3s;
}
/*----------
Download end 
----------*/


/*--------
Work start
--------*/
#work .card{
   border     : none;
   background : var(--main-color2);
   transition : 0.4s;
   padding-top: 2rem;
}
#work .card:hover{
   box-shadow: var(--box-shadow2);
}
#work .card span{
   display      : block;
   width        : 6rem;
   height       : 6rem;
   border-radius: 50%;
   line-height  : 6rem;
   background   : var(--main-color1);
   text-align   : center;
   color        : #fff;
   margin       : 0 auto;
   font-size    : 3rem;
   font-weight  : 500;
}
/*------
Work end
------*/


/*---------
Client start 
----------*/
#client{
   width: 100%;
   background: var(--main-color2);
}
#client .card{
   width: 20rem;
   border: none;
   margin: 0 auto;
   background: var(--main-color2);
   box-shadow: var(--box-shadow2);
}
#client .card .img-box{
   width: 10rem;
   height: 10rem;
   margin: 0 auto;
   border: 0.5rem solid var(--main-color1);
   border-radius: 50%;
   position: relative;
}
#client .card img{
   border-radius: 50%;
}
#client .card i{
   width: 3rem;
   height: 3rem;
   background: var(--main-color1);
   color: #fff;
   line-height: 3rem;
   display: block;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 90%;
   transform: translateY(-50%);
}
#client .card h3{
   font-size: 2.5rem;
}
#client .card h4{
   margin-top: -1.6rem;
}
#client .card .star i{
   display: inline-block;
   position: unset;
   background: none;
   color: var(--bg-2);
   font-size: 2rem;
}
/*--------
Client end 
--------*/